#detail-design {
    border-radius: 1.5em !important;
}

#submit-design {
    border-radius: 1.5em !important;
}

#backhome-design {
    border-radius: 1.5em !important;
    border: none;
}